# Dependencies
node_modules/
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local
.env.*

# IDE and editor files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo
.DS_Store

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*


# Firebase
*-firebase-*.json